In [1]:
import pandas as pd
import fitdecode
from datacyclist.make_dataset import get_dataframes

import os

In [2]:
fname = 'data/raw/2023-08-02-16-48-33.fit'
with fitdecode.FitReader(fname) as fit_file:
    for frame in fit_file:
        if isinstance(frame, fitdecode.records.FitDataMessage):
            if frame.name == 'lap':
                res = frame
                break

In [3]:
for field in res.fields:
    # field is a FieldData object
    print(field.name)

timestamp
start_time
start_position_lat
start_position_long
end_position_lat
end_position_long
total_elapsed_time
total_timer_time
total_distance
total_strokes
unknown_27
unknown_28
unknown_29
unknown_30
total_work
time_standing
avg_left_power_phase
avg_left_power_phase_peak
avg_right_power_phase
avg_right_power_phase_peak
avg_power_position
max_power_position
total_grit
avg_flow
message_index
total_calories
total_fat_calories
enhanced_avg_speed
avg_speed
enhanced_max_speed
max_speed
avg_power
max_power
total_ascent
total_descent
normalized_power
left_right_balance
wkt_step_index
unknown_96
unknown_97
stand_count
avg_vam
unknown_136
unknown_137
unknown_143
unknown_145
jump_count
unknown_155
event
event_type
avg_heart_rate
max_heart_rate
avg_cadence
max_cadence
intensity
lap_trigger
sport
event_group
sub_sport
avg_temperature
max_temperature
unknown_72
avg_fractional_cadence
max_fractional_cadence
total_fractional_cycles
avg_left_torque_effectiveness
avg_right_torque_effectiveness
avg_left_pedal_smoothness
avg_right_pedal_smoothness
avg_combined_pedal_smoothness
avg_left_pco
avg_right_pco
avg_cadence_position
max_cadence_position
unknown_124
unknown_152

In [4]:
laps_df, points_df = get_dataframes('data/raw/2023-08-02-16-48-33.fit')

In [5]:
laps_df.head()

,lap,start_time,total_distance,total_elapsed_time,total_strokes,total_work,total_calories,time_standing,avg_speed,max_speed,...,total_descent,avg_cadence,max_cadence,avg_temperature,max_temperature,normalized_power,max_heart_rate,avg_heart_rate,avg_left_power_phase,avg_left_power_phase_peak
0,1,2023-08-02 14:48:33+00:00,7405.21,1037.451,1242,178533,201,36.999,7.522,10.226,...,19,77,103,21,25,191,115,82,"(338.90625529541023, 202.50000316406255, 222.1...","(68.90625107666017, 135.00000210937503, 66.093..."
1,2,2023-08-02 15:05:50+00:00,350.44,46.522,61,7432,8,11.002,7.533,8.314,...,4,77,89,21,21,157,88,78,"(340.3125053173829, 192.65625301025395, 210.93...","(67.50000105468752, 127.96875199951175, 60.468..."
2,3,2023-08-02 15:06:37+00:00,429.52,57.441,70,9098,10,5.003,7.478,7.978,...,1,76,84,21,21,178,142,95,"(338.90625529541023, 196.87500307617194, 216.5...","(70.31250109863284, 132.18750206542973, 61.875..."
3,4,2023-08-02 15:07:34+00:00,27.17,3.164,4,1321,1,NaN,8.587,6.681,...,0,55,74,21,21,150,142,142,"(351.56250549316417, 243.2812538012696, 250.31...","(40.781250637207044, 177.18750276855474, 136.4..."
4,5,2023-08-02 15:07:38+00:00,1621.53,180.000,263,42168,46,NaN,9.008,9.928,...,8,87,95,21,21,233,144,132,"(331.87500518554697, 210.9375032958985, 237.65...","(71.71875112060549, 140.62500219726567, 68.906..."

In [6]:
points_df.head()

,latitude,longitude,lap,altitude,timestamp,heart_rate,cadence,speed,power,temperature,left_power_phase,left_power_phase_peak
0,51.940790,4.480078,1,2.8,2023-08-02 14:58:34+00:00,67,73.0,7.371,322.0,20,"(350.1562554711915, 195.46875305419925)","(84.3750013183594, 146.25000228515628)"
1,51.940791,4.479972,1,2.8,2023-08-02 14:58:35+00:00,66,73.0,7.371,0.0,20,"(350.1562554711915, 195.46875305419925)","(84.3750013183594, 146.25000228515628)"
2,51.940792,4.479868,1,3.0,2023-08-02 14:58:36+00:00,67,73.0,7.371,0.0,20,"(350.1562554711915, 195.46875305419925)","(84.3750013183594, 146.25000228515628)"
3,51.940791,4.479768,1,3.0,2023-08-02 14:58:37+00:00,67,0.0,6.914,0.0,20,NaN,NaN
4,51.940791,4.479681,1,3.0,2023-08-02 14:58:38+00:00,67,15.0,6.252,12.0,20,"(None, None)","(None, None)"

In [4]:
my_fit_files = os.listdir('data/raw/')
my_fit_files.sort()
count = 0

laps_list = []
points_list = []

for file in my_fit_files:
    laps_df, points_df = get_dataframes(f'data/raw/{file}')
    laps_df['activity_no'] = count
    points_df['activity_no'] = count
    laps_list.append(laps_df)
    points_list.append(points_df)
    
    count += 1

In [5]:
all_laps = pd.concat(laps_list, ignore_index=True)
all_laps.sample(10)

,lap,start_time,total_distance,total_elapsed_time,total_strokes,total_work,total_calories,time_standing,avg_speed,max_speed,...,avg_cadence,max_cadence,avg_temperature,max_temperature,normalized_power,max_heart_rate,avg_heart_rate,avg_left_power_phase,avg_left_power_phase_peak,activity_no
1446,13,2023-04-26 06:27:37+00:00,3563.31,512.296,631,85043,96,NaN,7.424,8.426,...,80,98,7,7,183,175,164,"(338.90625529541023, 203.9062531860352, 223.59...","(64.68750101074221, 136.40625213134769, 71.718...",258
1051,3,2022-08-31 07:52:37+00:00,10000.00,2139.546,None,None,295,None,4.720,15.965,...,None,None,21,23,None,167,137,"(None, None, None, None)","(None, None, None, None)",200
1585,1,2023-05-27 07:57:03+00:00,10000.00,1298.097,1723,266071,296,2.999,7.905,9.573,...,83,96,18,22,219,181,164,"(331.87500518554697, 206.7187532299805, 233.43...","(68.90625107666017, 137.81250215332034, 68.906...",276
19,1,2021-06-24 15:32:35+00:00,10000.00,2087.647,None,None,291,None,6.345,10.114,...,None,None,None,None,None,None,None,"(None, None, None, None)","(None, None, None, None)",7
392,2,2021-11-06 07:45:55+00:00,4386.94,901.655,None,None,102,None,6.816,11.337,...,None,None,None,None,None,None,None,"(None, None, None, None)","(None, None, None, None)",101
1811,6,2023-07-11 05:24:33+00:00,5815.31,600.000,920,153045,167,7.0,9.692,10.964,...,91,102,20,21,257,184,176,"(333.2812552075196, 212.34375331787115, 237.65...","(73.12500114257814, 137.81250215332034, 64.687...",305
328,2,2021-10-11 14:31:00+00:00,10000.00,1378.435,None,None,285,None,7.378,11.841,...,None,None,None,None,None,None,None,"(None, None, None, None)","(None, None, None, None)",79
817,11,2022-07-09 12:55:07+00:00,10000.00,1506.195,857,None,87,None,6.797,9.013,...,64,100,25,27,None,173,152,"(None, None, None, None)","(None, None, None, None)",172
219,1,2021-09-02 17:29:18+00:00,8669.06,1237.600,None,None,248,None,7.227,9.648,...,None,None,None,None,None,None,None,"(None, None, None, None)","(None, None, None, None)",48
1712,9,2023-06-27 05:59:22+00:00,57.57,7.775,12,956,1,NaN,7.405,7.175,...,90,91,19,19,137,159,157,"(338.90625529541023, 199.68750312011724, 219.3...","(71.71875112060549, 132.18750206542973, 60.468...",289

In [6]:
all_points = pd.concat(points_list, ignore_index=True)
all_points.head()

,latitude,longitude,lap,altitude,timestamp,heart_rate,cadence,speed,power,temperature,left_power_phase,left_power_phase_peak,activity_no
0,51.877320,4.431989,1,2.0,2021-06-17 18:14:03+00:00,None,NaN,8.454,NaN,NaN,NaN,NaN,0
1,51.876801,4.431685,1,2.2,2021-06-17 18:14:11+00:00,None,NaN,8.640,NaN,NaN,NaN,NaN,0
2,51.876652,4.431597,1,2.2,2021-06-17 18:14:13+00:00,None,NaN,8.566,NaN,NaN,NaN,NaN,0
3,51.876070,4.431311,1,2.2,2021-06-17 18:14:21+00:00,None,NaN,8.304,NaN,NaN,NaN,NaN,0
4,51.875998,4.431275,1,2.2,2021-06-17 18:14:22+00:00,None,NaN,8.304,NaN,NaN,NaN,NaN,0

In [7]:
all_points.tail()

,latitude,longitude,lap,altitude,timestamp,heart_rate,cadence,speed,power,temperature,left_power_phase,left_power_phase_peak,activity_no
982354,51.912156,4.482677,8,8.0,2023-09-09 07:53:00+00:00,177,58.0,4.115,459.0,24.0,"(0.0, 357.1875055810548)","(0.0, 357.1875055810548)",336
982355,51.912175,4.482743,8,8.2,2023-09-09 07:53:01+00:00,177,66.0,4.637,347.0,24.0,"(312.18750487792977, 168.7500026367188)","(53.43750083496095, 125.15625195556643)",336
982356,51.912198,4.482819,8,8.2,2023-09-09 07:53:02+00:00,177,69.0,5.589,418.0,24.0,"(312.18750487792977, 168.7500026367188)","(53.43750083496095, 125.15625195556643)",336
982357,51.912225,4.482904,8,8.4,2023-09-09 07:53:03+00:00,177,78.0,6.252,637.0,24.0,"(312.18750487792977, 168.7500026367188)","(53.43750083496095, 125.15625195556643)",336
982358,51.912255,4.483000,8,8.4,2023-09-09 07:53:04+00:00,177,87.0,7.269,555.0,24.0,"(312.18750487792977, 168.7500026367188)","(53.43750083496095, 125.15625195556643)",336

In [8]:
all_laps.to_csv('data/all_laps.csv', index=False)

In [9]:
all_points.to_csv('data/all_points.csv', index=False)